@import url('./components.parts/components.part01.css');
@import url('./components.parts/components.part02.css');
@import url('./components.parts/components.part03.css');
@import url('./components.parts/components.part04.css');
@import url('./components.parts/components.part05.css');
@import url('./components.parts/components.part06.css');
@import url('./components.parts/components.part07.css');
@import url('./components.parts/components.part08.css');
@import url('./components.parts/components.part09.css');
@import url('./components.parts/components.part10.css');
@import url('./components.parts/components.part11.css');
@import url('./components.parts/components.part12.css');
@import url('./components.parts/components.part13.css');
@import url('./components.parts/components.part14.css');

.sr-only {
	position: absolute;
	left: -9999px;
}

.mini-poll-fill-38 {
	width: 38%;
}

.mini-poll-fill-24 {
	width: 24%;
}
